:root{
    --backgroud-color:#f9f9f9;
    --card-color:#ffffff;
    --text-color:black;
    --border-color:rgb(199, 193, 193);
}

.high-contrast-theme{
    --backgroud-color:#000000;
    --card-color:#272626;
    --text-color:rgb(255, 255, 255);
    --border-color:rgb(199, 193, 193);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--backgroud-color);
    font-family: "Work Sans", sans-serif;
    color: var(--text-color);
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

img{
    width: 100px;
}


h1{
    font-family: "Fjalla One", sans-serif;
}

form{
    background-color: var(--card-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 40px;
}

fieldset{
    padding: 15px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    margin-bottom: 10px;
}

legend{
    font-weight: bold;
    padding: 0 5px;
}

label{
    display: inline-block;
    margin: 8px 5px;
}

input, select,textarea{
    margin: 10px;
    padding: 3px;
    border: 2px solid var(--border-color);
    border-radius: 3px;
}

input[type="color"]{
    width: 50px;
    padding: 0 2px;
}

input[type="tel"], input[type="file"]{
    margin-bottom: 0;
}

input[type="text"]:invalid,input[type="number"]:invalid, input[type="tel"]:invalid, input[type="email"]:invalid{
   border-color: red;
}

input[type="text"]:valid,input[type="number"]:valid, input[type="tel"]:valid, input[type="email"]:valid{
   border-color: green;
}

textarea{
    width: 97%;
}

small{
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
}

button{
    width: 150px;
    height: 30px;
    margin-right: 20px;
    border: 2px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}

button:hover{
    font-weight: bold;
    font-size: 14px;
}

button[type="submit"]:hover{
    color: green;
    background-color: rgb(175, 226, 183);
}

button[type="reset"]:hover{
    color: red;
    background-color: rgb(226, 175, 175);
}

#info-name{
    width: 86%;
}

#info-email, #info-phoneNumber{
    width: 50%;
}

.success-body{
    margin-top: 150px;
}

.success-h1{
    text-align: center;
}

.success-p{
    text-align: center;
    margin-top: 10px;
}

